@font-face {
  font-family: 'Trajan';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/trajan.woff2') format('woff2');
}

body {
  background: linear-gradient(#d8694e, #422014);
  font-family: 'Trajan', sans-serif;
  color: white;
  min-width: 430px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 100%;
  margin: auto 0;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 20px;
  gap: 20px;
}

.card {
  width: max-content;
  background-color: rgb(0, 0, 0, 0.7);
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-align: left;
}

.card:hover,
.card:active,
.card:focus-visible {
  filter: brightness(120%);
  box-shadow: 0 0 27px -10px rgb(255, 240, 155);
}

.card,
.card > img {
  border-radius: 5px;
}

.card > img {
  border: 2px solid rgb(128, 128, 128);
  margin-top: 5px;
}

h2 {
  font-size: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 10px 18px 10px 10px;
  gap: 20px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

header p {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.golden {
  color: rgb(255, 215, 0);
}

.point {
  color: #f34f2d;
}

.error,
.loading {
  font-size: 3rem;
}

.help-btn {
  background: url('../assets/help.svg') no-repeat center / cover;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
}

.help-btn:hover,
.help-btn:active,
.help-btn:focus-visible {
  filter: brightness(80%);
}

.help-wrapper {
  max-width: 1000px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.help-wrapper > ul {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.help-wrapper > h2 {
  font-size: 4rem;
}

.help-wrapper > div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 2.5rem;
}

.help-wrapper button {
  background-color: #f34f2d;
}

.help-wrapper button:hover,
.help-wrapper button:active,
.help-wrapper button:focus-visible {
  background-color: #d34124;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  appearance: none;
  outline: none;
  padding: 10px;
}

button:focus-visible {
  outline: 2px solid rgb(255, 153, 0);
}
